<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/public/style.css">
  <title>Document</title>
</head>
<body>
  <% include header.ejs %>
  <h1>Welcome to my test index page</h1>
  <h2><a href="/viktor">god's page</a></h2>
  <h2><a href="/pasha">petuh's page</a></h2>
  <p>Name = <%=  qs.name %></p>
  <p>Age = <%=  qs.age %></p>
  <% include footer.ejs %>
</body>
</html>
